@use "./variable" as *;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  padding: calc($default-margin * 3);
  padding-bottom: 0;
  background-color: $background-color;
  color: $text-color;
  display: flex;
  flex-direction: column;
  gap: calc($default-spacing * 3);
  align-items: center;
}

a {
  text-decoration: inherit;
  color: inherit;
  display: block;
}

a:hover {
  color: $heading-color;
  transform: scale(1.2);
}

a:active {
  text-decoration: underline;
}

img {
  width: 100%;
}

.subheading {
  font-size: 2rem;
  color: $heading-color;
  font-weight: bold;
}

.button {
  padding: $default-margin;
  border: 2px solid;
  border-radius: $default-margin;
}

svg {
  fill: $text-color;
  width: 12vw;
  height: 12vw;
}
