@use "./variable" as *;

/* Sections of the page with similar flex display are grouped together */
.intro,
.about-me,
.skills,
.projects,
.footer, .body {
  display: flex;
  flex-direction: column;
  gap: $default-spacing;
  align-items: center;
}

.header {
  display: none;
}

/* Since the header display is set to none, the folowing styles will not be visible in a mobile display */
.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;

  &__name {
    color: $heading-color;
  }

  &__link {
    margin: calc($default-spacing / 2);
  }
}

/* Navigations in header, projects and footer are set to flex */
.header,
.projects,
footer {
  &__nav {
    display: flex;
    gap: $default-spacing;
    align-items: center;
  }
}


.intro {
  &__img {
    display: none;
  }

  &__name {
    font-size: large;
    color: $heading-color;
  }

  &__line {
    font-size: xxx-large;
  }
}

.skills {
  width: 100%;

  &__skill-icons {
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
    gap: $default-spacing;
    width: 100%;
  }

  &__icon {
    text-align: center;
    img {
      aspect-ratio: 1 / 1;
    }
  }
}

.projects {
  &__card {
    display: flex;
    flex-direction: column;
    gap: calc($default-spacing / 5);
  }

  &__skill {
    text-transform: capitalize;
    color: $heading-color;
  }

  &__description {
    margin: calc($default-spacing/2) 0;
  }
}

.footer {
  flex-direction: column-reverse;
  background-color: $accent-color-1;
  width: 100vw;
  padding: $default-spacing;
  gap: calc($default-spacing / 2);
  color: $background-color;

  &__svg {
    fill: $background-color;
    width: $default-spacing;
    height: $default-spacing;
  }
  &__svg--fill {
    path {
      fill: $accent-color-1;
    }
  }
}
