@use "./variable" as *;

.header {
  display: none;
}

.intro {
  display: flex;
  flex-direction: column;
  gap: $default-spacing;

  &__img {
    display: none;
  }

  &__name {
    font-size: large;
    color: $heading-color;
  }

  &__line {
    font-size: xxx-large;
  }
}

.about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $default-spacing;
}

.skills {
  display: flex;
  flex-direction: column;
  gap: $default-spacing;
  align-items: center;
  width: 100%;

  &__skill-icons {
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
    gap: $default-spacing;
    width: 100%;
  }

  &__icon {
    text-align: center;
    img {
      aspect-ratio: 1 / 1;
    }
  }
}

.projects {
  display: flex;
  flex-direction: column;
  gap: $default-spacing;
  align-items: center;
  justify-content: center;

  &__card {
    display: flex;
    flex-direction: column;
    gap: calc($default-spacing / 5);
  }

  &__skill {
    text-transform: capitalize;
    color: $heading-color;
  }

  &__description {
    margin: calc($default-spacing/2) 0;
  }
}

.footer {
  display: flex;
  flex-direction: column-reverse;
  background-color: $grey-color;
  width: 100vw;
  padding: $default-spacing;
  gap: calc($default-spacing / 2);
  align-items: center;
  color: $background-color;

  &__navigation {
    display: flex;
    align-items: space-between;
    gap: calc($default-spacing/5);
  }

  &__svg {
    fill: $background-color;
    width: $default-spacing;
    height: $default-spacing;
  }
  .__svg--fill {
    path {
      fill: $grey-color;
    }
  }
}

.header__navigation,
.projects__nav {
  display: flex;
  gap: $default-spacing;
  align-items: center;
}
