@use "./variable" as *;

.header {
  display: none;
}

.intro {
  display: flex;
  flex-direction: column;
  gap: $default-spacing;

  &__img {
    display: none;
  }

  &__name {
    font-size: large;
    color: $heading-color;
  }

  &__line {
    font-size: xxx-large;
  }
}

.about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $default-spacing;
}

.skills {
  display: flex;
  flex-direction: column;
  gap: $default-spacing;
  align-items: center;
  width: 100%;

  &__skill-icons {
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
    gap: $default-spacing;
    width: 100%;
  }

  &__icon {
    text-align: center;
    img {
      aspect-ratio: 1 / 1;
    }
  }
}
