@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

$font-desc: "Source Sans 3", sans-serif;
$font-title: "Lora", serif;

$background-color: #f2f2f2;
$text-color: #a1253b;
$heading-color: #011126;
$accent-color-1: #630008;
$accent-color-2: #3c3a3a;

$default-spacing: 2rem;
$default-margin: 1em;
