@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

$font-desc: "Source Sans 3", sans-serif;
$font-title: "Lora", serif;

$background-color: #eae7dc;
$text-color: #e98074;
$heading-color: #e85a4f;
$accent-color-1: #8d8e8a;
$accent-color-2: #d8c3a5;

$default-spacing: 2rem;
$default-margin: 1em;
